@model ViagemImpacta.ViewModels.UpdateUserViewModel
@{
    ViewData["Title"] = "Editar Usuário";
}

<h2 class="mb-4">Editar Usuário</h2>
<div class="card" style="max-width: 600px;">
    <div class="card-body">
        <form asp-action="Edit" asp-route-id="@Model.UserId" method="post">
            <input type="hidden" asp-for="UserId" />
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Primeiro Nome</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Sobrenome</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Telefone</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Cpf" class="form-label">CPF</label>
                <input asp-for="Cpf" class="form-control" disablad />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BirthDate" class="form-label">Data de Nascimento</label>
                <input asp-for="BirthDate" class="form-control" disabled />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="d-flex gap-2 mt-4">
                <a asp-action="Index" class="btn btn-secondary w-50">Voltar</a>
                <button type="submit" class="btn btn-primary w-50">Confirmar</button>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
