@{
    ViewData["Title"] = "Home Page";
}

<form>
    <div>
        <label>Email</label>
        <input placeholder="Digite seu email"></input>


    </div>
        <label>Senha</label>
        <input placeholder="Digite sua senha"></input>
    <div>



    </div>

    <button></button>
    





</form>