@*
    Página de acesso negado personalizada
*@
@{
    ViewData["Title"] = "Acesso Negado";
}

<link rel="stylesheet" href="~/css/AccessDenied.css" />

<div class="access-denied-container">
    <div class="access-denied-title">Acesso Negado</div>
    <div class="access-denied-code">Erro 403</div>
    <button onclick="history.back()" class="btn btn-outline-primary">Retornar</button>
</div>
